/*  .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */
body {
  margin: 0;
  padding: 0;

}
* {
    box-sizing: border-box;
}
.landing {
padding-top: 40px;
/* margin-left: auto; */
/* margin-right: auto;  */
height:100vh;
background-image: url(/images/bg-desktop.svg);
background-size: contain;
position: relative;
padding-left: 50px;
}
.landing::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(257, 40%, 49%);
  z-index: -1;
}
.logo img { 
height:50px
}
.content {
  padding-top: 70px;
  display:flex;
}
@media (max-width: 400px) {
.landing {
  background: url("/images/bg-mobile.svg") ;
  background-size:contain;
  background-repeat: no-repeat;
  height: 700px;
  padding-left: 25px;
  padding-top: 30px ;
}
.content__img img {
  height :180px !important;
  margin-bottom: 35px ;
  }
  .content {
    padding-top: 40px;
    padding-right: 20px;
    display :flex;
    justify-content: center;
    flex-direction: column;
  }
  .content-description h2 {
    font-size: 20px !important;
  }
  .content-description p {
    font-size:14px !important;
    line-height: 1.4;
  }
  .content-description p  span{
    display: inline !important;
  }

  .content-description  {
    text-align: center;
  }
  .logo img {
    height: 26px!important;
  }
  .btn-element {
padding: 8px 60px !important;
font-size: 12px;
  }
  
  .icons {
    display:flex;
    justify-content: center!important;
    margin-right: 25px;
  }
  .icons i { 
    font-size: 11px !important;
    text-align: center !important;
  }
  .icons i::after {
    height :22px!important;
    width: 21px!important;
  }
  .btn {
    margin-bottom: 80px !important;
  }
  .icons i::after {
    top: 4px !important;
    right: -7px !important;
  }
}
.content__img img {
height :430px;
margin-right: 50px;
}
.content-description h2 {
font-family: 'Poppins', sans-serif;
font-size: 32px;
line-height: 1.4;
color: white;
}
.content-description p {
font-family: 'Open Sans', sans-serif;
color: #d4d4d4;
font-size: 15px;
margin-bottom: 30px;
line-height: 1.5;
}
.content-description p  span{
  display:block;
}
.btn {
  margin-bottom: 180px;
}
.btn-element {
background-color: white;
border-radius: 50px;
color: hsl(257, 40%, 49%);
padding: 12px 50px;
box-shadow: 0 2px 10px rgba(0, 0, 0, 40%);
margin-bottom: 50px;
}
.icons {
  display : flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.icons i:hover {
  color:hsl(300, 69%, 71%);
}
.icons i:hover::after{
  border: 1px solid hsl(300, 69%, 71%) !important;
}
.icons i { 
  color :white;
  margin-left: 30px;
  position: relative;
  font-size:15px;
 
}
.icons i::after {
  content:"";
  position: absolute;
  border: 1px solid white;
  top: 0;
  right : -10px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  transform: translateY(-10px);
  
}